<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>378670556942-u2je6voidingefremlamcg1mhe8n0kbu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDl0zTbKvEII70m1CRBN7M7jZ4tawHEKmY</string>
	<key>GCM_SENDER_ID</key>
	<string>378670556942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phoenix.kitapdostu</string>
	<key>PROJECT_ID</key>
	<string>kitapdostu-5bc4d</string>
	<key>STORAGE_BUCKET</key>
	<string>kitapdostu-5bc4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378670556942:ios:a0d376610dc18776cb995f</string>
</dict>
</plist>